WebContent/wsdl/RfTransactionDelegate.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://delegate.pay.uaf.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://delegate.pay.uaf.com" xmlns:intf="http://delegate.pay.uaf.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://delegate.pay.uaf.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="genRfPaymentForCMB">
    <complexType>
     <sequence>
      <element name="xmlStr" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="genRfPaymentForCMBResponse">
    <complexType>
     <sequence>
      <element name="genRfPaymentForCMBReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="genRfPaymentForCMBRequest">

      <wsdl:part element="impl:genRfPaymentForCMB" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="genRfPaymentForCMBResponse">

      <wsdl:part element="impl:genRfPaymentForCMBResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="RfTransactionDelegate">

      <wsdl:operation name="genRfPaymentForCMB">

         <wsdl:input message="impl:genRfPaymentForCMBRequest" name="genRfPaymentForCMBRequest">

       </wsdl:input>

         <wsdl:output message="impl:genRfPaymentForCMBResponse" name="genRfPaymentForCMBResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="RfTransactionDelegateSoapBinding" type="impl:RfTransactionDelegate">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="genRfPaymentForCMB">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="genRfPaymentForCMBRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="genRfPaymentForCMBResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="RfTransactionDelegateService">

      <wsdl:port binding="impl:RfTransactionDelegateSoapBinding" name="RfTransactionDelegate">

         <wsdlsoap:address location="http://localhost:8080/uafpay/services/RfTransactionDelegate"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
